<table class="table table-bordered">
  <tr>
    <th class="time-selector">
        <%= render "time_select" %>
    </th>
    <% @partners.each do |p| %>
        <th><%= p.name %></th>
    <% end %>
  </tr>
  <% @arrangements.each do |arr| %>
    <tr>
        <td><%= "#{arr.start_time.strftime("%T")} -- #{arr.end_time.strftime("%T")}"%></td>
        <% @partners.each do |p| %>
        <td
          class = "<%= @availabilityMap.present? && @availabilityMap["#{p.id}-#{arr.id}"].present? && @availabilityMap["#{p.id}-#{arr.id}"].published? ? "availability selected" : "availability" %>"
          availability_id = "<%= "#{p.id}-#{arr.id}" %>"
          status= "<%= @availabilityMap.present? && @availabilityMap["#{p.id}-#{arr.id}"].present? && @availabilityMap["#{p.id}-#{arr.id}"].status %>"
        >
          <%=%>
        </td>
    <% end %>
    </tr>
  <% end %>
</table>

<style>
  th.time-selector{
    width: 200px;

    .time-selector {
      width: 90%%;
    }
  }

  td.availability {
    cursor: pointer;
    transition: 0.4s;
  }

  td.availability:hover {
    background-color: #dcecb5;
    color: white;
  }

  td.availability.selected {
    background-color: #3e8e41;
    color: white;
    cursor: pointer;
  }

</style>

<script>
    $('td.availability').click(function(){
        availabilityID =  $(this).attr('availability_id');

        if ($(this).attr('status') == 'published') {
          status = 'cancel';
        } else {
          status = 'published';
        }

        availabilityUpdate($(this), availabilityID, status)
    });

    function availabilityUpdate(targeet, availabilityID, status) {
        $.ajax({
            url: 'availabilities/' + availabilityID + '/update',
            data: {
              status: status
            },
            method: 'PUT',
            type: 'json',
            success: function(data) {
              if (data.succed) {
                if (status == 'published') {
                  targeet.addClass('selected');
                } else {
                  targeet.removeClass('selected');
                }
                targeet.attr('status', status);
              } else {
                  console.log(data);
              }
            },
            err: function() {
                alert('some error occurred')
            }
        });
    }
</script>