<table class="table table-bordered">
  <tr>
    <th class="time-selector">
        <%= render "time_select" %>
    </th>
    <% @partners.each do |p| %>
        <th><%= p.name %></th>
    <% end %>
  </tr>
  <% @arrangements.each do |arr| %>
    <tr>
        <td><%= "#{arr.start_time.strftime("%T")} -- #{arr.end_time.strftime("%T")}"%></td>
        <% @partners.each do |p| %>
        <td
          class = "<%= availability_class(@availabilityMap, p.id, arr.id) %>"
          availability_id = "<%= availability_unite_id(p.id, arr.id) %>"
          status= "<%= availability_state(@availabilityMap, p.id, arr.id) %>"
        >
          <%= availability_content(@availabilityMap, p.id, arr.id) %>
        </td>
    <% end %>
    </tr>
  <% end %>
</table>

<style>
  th.time-selector{
    width: 200px;

    .time-selector {
      width: 90%%;
    }
  }

  td.availability.published {
    background-color: #3e8e41;
    color: white;
  }

  td.availability.can_eidt {
    cursor: pointer;
    transition: 0.4s;
  }

  td.availability.can_eidt:hover {
    background-color: #dcecb5;
    color: white;
  }

</style>

<script>
    $('td.availability.can_eidt').click(function(){
        availabilityID =  $(this).attr('availability_id');

        if ($(this).attr('status') == 'published') {
          status = 'cancel';
        } else {
          status = 'published';
        }

        availabilityUpdate($(this), availabilityID, status)
    });

    function availabilityUpdate(targeet, availabilityID, status) {
        $.ajax({
            url: 'availabilities/' + availabilityID + '/update',
            data: {
              status: status
            },
            method: 'PUT',
            type: 'json',
            success: function(data) {
              if (data.succed) {
                if (status == 'published') {
                  targeet.addClass('published');
                } else {
                  targeet.removeClass('published');
                }
                targeet.attr('status', status);
              } else {
                  console.log(data);
              }
            },
            err: function() {
                alert('some error occurred')
            }
        });
    }
</script>