<table class="table table-bordered">
  <tr>
    <th class="time-selector calendar-table-header">
        <%= render "time_select" %>
    </th>
    <% @partners.each do |p| %>
        <th class="calendar-table-header"><%= p.name %></th>
    <% end %>
  </tr>
  <% @arrangements.each do |arr| %>
    <tr>
        <td><%= "#{arr.start_time.strftime("%T")} -- #{arr.end_time.strftime("%T")}"%></td>
        <% @partners.each do |p| %>
        <td
          class = "<%= availability_class(@availabilityMap, @meetingAndAvailabilityIDMap, p.id, arr.id) %>"
          availability_id = "<%= availability_unite_id(p.id, arr.id) %>"
          status= "<%= availability_status(@availabilityMap, @meetingAndAvailabilityIDMap, p.id, arr.id) %>"
        >
          <%= availability_content(@availabilityMap, @meetingAndAvailabilityIDMap, p.id, arr.id) %>
        </td>
    <% end %>
    </tr>
  <% end %>
</table>

<style>
  th.time-selector{
    width: 200px;

    .time-selector {
      width: 90%%;
    }
  }

  td.availability.published {
    background-color: #67bbfe !important;
    color: white;
  }

  td.availability.can_partner_edit,
  td.availability.can_pioneer_edit
   {
    background-color: #e5f7ff;
    cursor: pointer;
    transition: 0.4s;
  }

  td.availability.can_partner_edit:hover,
  td.availability.can_pioneer_edit:hover {
    background-color: #bae7ff;
    color: #FFF;
  }

  td.availability.meeting_succeed {
    background-color: #5BBA2A !important;
    color: white;
  }

  th.calendar-table-header {
    vertical-align: middle;
  }
</style>

<script>
    $('td.availability.can_partner_edit').click(partnerEdit);

    $('td.availability.can_pioneer_edit').click(pioneerEdit);

    function partnerEdit() {
       availabilityID =  $(this).attr('availability_id');

        if ($(this).attr('status') == 'published') {
          status = 'unpublish';
        } else {
          status = 'published';
        }

        meetingCreateOrUpdate($(this), availabilityID, status)
    }

    function pioneerEdit() {
      availabilityID =  $(this).attr('availability_id');

        if ($(this).attr('status') == 'published') {
          status = 'unpublish';
        } else {
          status = 'published';
        }

        pionnerUpdateMeetingStatus($(this), availabilityID, status);
    }

    function pionnerUpdateMeetingStatus(target, availabilityID, status) {
        $.ajax({
            url: 'meetings/' + availabilityID + '/pioneer_update_meeting',
            method: 'POST',
            type: 'json',
            data: {
              status: status
            },
            success: function(data) {
              if (data.succeed) {
                if (status == 'unpublish') {
                  target.removeClass('meeting_succeed');
                  target.text('已取消');
                  target.attr('status', 'unpublish');
                } else {
                  target.addClass('meeting_succeed');
                  target.text('预约成功');
                  target.attr('status', 'published');
                }      
              } else {
                target.text('操作失败：' + data.message);
              }
            },
            err: function() {
                alert('some error occurred')
            }
        });
    }

    function meetingCreateOrUpdate(target, availabilityID, status) {
        $.ajax({
            url: 'meetings/' + availabilityID + '/create_or_update',
            method: 'POST',
            type: 'json',
            data: {
              status: status
            },
            success: function(data) {
              if (data.succeed) {
                if (status == 'unpublish') {
                  target.removeClass('published meeting_succeed');
                  target.text('已取消');
                  target.attr('status', 'unpublish');
                } else {
                  target.addClass('published');
                  target.text('已发布');
                  target.attr('status', 'published');
                }      
              } else {
                target.text('操作失败' + data.message);
              }
            },
            err: function() {
                alert('some error occurred')
            }
        });
    }
</script>